# {{ ansible_managed }}
{% for host in groups['ose'] %}
{% if not ansible_hostname == hostvars[host].ansible_hostname %}

{{ ansible_eth0.ipv4.address }} {{ hostvars[host].ansible_eth0.ipv4.address }} :  PSK "35f45c1960aa1d3a223415f48ca48e6e"


{% endif %}
{% endfor %}
