---
- name: Create virtual network interface card
  azure_rm_networkinterface:
    resource_group: "{{ resource_group }}"
    name: "{{ inventory_hostname }}NIC"
    virtual_network: "{{ virtual_network }}"
    subnet: "{{ subnet }}"
    security_group: "{{ security_group }}"
    public_ip: no
- name: Create VM
  azure_rm_virtualmachine:
    resource_group: "{{ resource_group }}"
    name: "{{ inventory_hostname }}"
    vm_size: "{{ vm_size }}"
    admin_username: "{{ admin_username }}"
    ssh_password_enabled: false
    ssh_public_keys:
      - path: "/home/{{ admin_username }}/.ssh/authorized_keys"
        key_data: "{{ key_data }}"
    network_interfaces: "{{ inventory_hostname }}NIC"
    image:
      offer: RHEL
      publisher: RedHat
      sku: '7-RAW'
      version: 7.4.2018010506
