---
- name: Downloading the EPEL repository definitions (RHEL 7.4)
  get_url: url=https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm dest=/root/epel-release-latest-7.noarch.rpm

- name: Downloading and enable the EPEL repository definitions (RHEL 7.4)
  yum: name=/root/epel-release-latest-7.noarch.rpm state=present

- name: Install strongSwan (CentOS)
  yum: pkg=strongswan state=present

- name: enable and start strongswan in systemctl
  systemd:
    name: strongswan
    state: started
    enabled: True

- name: Disable the EPEL repository definitions (RHEL 7.4)
  shell: sed -i 's/enabled=1/enabled=0/g' /etc/yum.repos.d/epel.repo

- name: Allow Chain OS_FIREWALL_ALLOW in INPUT
  shell: iptables -I INPUT -j OS_FIREWALL_ALLOW
- name: Allow IP/ESP (IPSEC) traffic
  shell: iptables -A OS_FIREWALL_ALLOW -p esp -j ACCEPT
- name: Allow IP/AH (IPSEC) traffic
  shell: iptables -A OS_FIREWALL_ALLOW -p ah -j ACCEPT
- name: Allow UDP/IKEv2 (IPSEC) traffic
  shell: iptables -A OS_FIREWALL_ALLOW -p udp -m state --state NEW -m udp --dport 500 -j ACCEPT
- name: Allow UDP/NAT-T (IPSEC) traffic
  shell: iptables -A OS_FIREWALL_ALLOW -p udp -m state --state NEW -m udp --dport 4500 -j ACCEPT

- name: Configure ipsec.conf
  template: src=ipsec.conf.j2 dest={{ strongswan_base }}/ipsec.conf owner=root group=root mode=0644
  notify: restart strongswan

- name: Configure ipsec.secrets
  template: src=ipsec.secrets.j2 dest={{ strongswan_base }}/ipsec.secrets owner=root group=root mode=0600
  notify: restart strongswan

